*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(42, 165, 147);
}

canvas{
    background: #0000ff;
    background: linear-gradient(#00f410,#f60000,#f200ff);
    display: block;
    margin: 0 auto;
}

h1{
    color: #2C5364;
    text-align: center;
    font-family: monospace;
    margin: 50px;
}